body{
    margin: 0;
    background-color: rgb(255, 255, 255);
}
.carousel-inner {
    position: center;
    width: 1220px;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    border: none;
}
.imagenC {
    width: 1220px;
    height: 800px;
    border: none;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
    z-index: 100;
}
.menu-horizontal{
max-width: none;
margin: auto;
background-color: rgb(0, 0, 0);
font-size: 20px;
margin-top: 0px;
}
.menu-horizontal{
list-style: none;
display: flex;
justify-content: space-around;
}
.menu-horizontal > li > a {
display: block;
padding: 15px 20px;
color: white;
text-decoration: none;
}
.menu-horizontal > li:hover{
background-color: rgb(61, 61, 61);
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 220px;
    background-color: rgba(0, 0, 0, 5);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover {
    background-color: rgb(61, 61, 61);
}
.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}
.pie{
    background-color: rgb(0, 0, 0);
    color : white
}
.redes {
    font-size: 30px;
    text-align: auto;
    list-style: none;
 }
 
 .redes .ig {
    background-color: rgb(102, 102, 102);
    border: 0;
    border-radius: 50%;
    color: white;
    padding: 8px 12px 8px 12px;
 }
 .redes .yt {
    background-color: rgb(102, 102, 102);
    border: 0;
    border-radius: 50%;
    color: white;
    padding: 8px 12px 8px 12px ;
 }
 .redes .tw {  
    background-color: rgb(102, 102, 102);
    border: 0;
    border-radius: 50%;
    color: white;
    padding: 8px 12px 8px 12px;
 }
 .redes .fb {
    background-color: rgb(102, 102, 102);
    border: 0;
    border-radius: 50%;
    color: white;
    padding: 8px 12px 8px 12px;
 }
 
 .redes .fb:hover { 
    background-color: blue ;
 }
 .redes .yt:hover { 
    background-color: rgb(255, 0, 0) ;
 }
 .redes .tw:hover { 
    background-color: rgb(0, 225, 255) ;
 }
 .redes .ig:hover { 
    background-color: rgb(195, 0, 255) ;
 }
 .links{ 
    margin-top : 12px;
 }
 .section{
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    font-size: 20px;
    gap : 40px
}
.section div {
    display: flex;
    flex-direction: column;
}
div h2{
    display: flex;
    flex-direction: column;
    padding :10px 10px;
    color : white
}
div a{ 
    color : rgb(163, 163, 163) ;
    text-decoration: none;
    padding: 10px;
}
div a:hover{ 
    color: rgb(255, 255, 255);
    font-style: italic;
}

.copyright { 
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    margin: 0;
    color: white;
}
.logo{
    text-align: center ;
    padding-right: 200px ;
    background-color: rgb(34, 34, 34);
}
.buscador {
    position: relative;
}
.buscador {
    background-color: rgb(255, 255, 255) ;
    margin: 10px 0px 10px 50px;
    padding: 15px 45px;
    border-radius: 40px;
    border: 0px;
    outline: none;
}
.lupa {
    background-color: rgb(185, 185, 185);
    padding: 12px 15px ;
    border-radius: 50%;
    border: 0;
    top: 0;
    bottom: 0;
    margin: 0;
}
.lupa:hover {
    background-color: rgb(255, 79, 79);
}
.pcArmadas-T{
    display: flex;
    justify-content: center;
    padding: 0px 100px;
    background-color: rgb(216, 216, 216);
}
.pc-armada{
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 600px;
    height: 300px;
    margin: 20px;
    padding: 10px 80px;
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
}
.especificaciones {
    display: flex;
    font-size: 22px;
    text-align: left;
}
.precio {
    color: rgb(0, 162, 255);
    font-size:27px;
    text-align: left;
}
.mensaje {
    display: flex;
    justify-content: center;
    margin:5px;
    border: 10px;
    border-radius: 30%;
    background-color: white;
    font-size:27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.imagen-pcArmada{
    max-width: 200px;
    max-height: 200px;
    margin-top: 40px;
}
.texto-pcArmada{
    display: block;
    justify-content: left;
    text-justify: wrap;
    margin-top: 40px;
    margin-left: 40px;
}
.Productos-juntos{
    display: flex;
    justify-content: center;
    padding: 0px 100px;
    background-color: rgb(216, 216, 216);
}
.Productos{
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 600px;
    height: 300px;
    margin: 20px;
    padding: 10px 80px;
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
}
.imagen-productos{
    max-width: 200px;
    max-height: 200px;
    margin-top: 50px;
}
.texto-productos{
    display: block;
    justify-content: left;
    text-justify: wrap;
    margin-top: 40px;
    margin-left: 40px;
}

#comprar {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin-top: 190px;
    margin-left: 40px;
    padding: 10px 15px;
    background-color: rgb(53, 174, 255);
    border: 0;
    border-radius: 5px;
    height: 55px;
}
#comprar:hover {
    box-shadow: 0 2px 4px;
    background-color: rgb(0, 144, 240);
}
.ventana-emergente{
    display: flex;
    background-color: rgb( rgb(143, 143, 143)) ;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0 ;
    height: 100vh;
    width: 100vw;
 }
 .ver {
    pointer-events: auto;
    opacity: 1;
 }
 .ventana-texto{
    background-color: rgb(175, 175, 175);
    width: 1000px;
    height: 550px;
    max-width: 100%;
    padding: 50px 180px;
    border-radius: 10px;
    box-shadow: 0 4px 10px;
 }
 .titulo-texto{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    color: rgb(0, 0, 0);
    padding-bottom: 50px;
    padding-top: 0px;
    font-size: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 .contenido-texto{
    margin: 0;
    font-size: 35px;
    text-align: left;
    color: rgb(54, 54, 54);
    padding-bottom: 40px;
}
.Continuar{
    color:rgb(0, 144, 240) ;
}
.Cancelar{
    color:rgb(216, 0, 0) ;
}
.btn-cancelar{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding: 10px 15px;
    margin-left: 500px;
    background-color: rgb(241, 0, 0);
    border: 0;
    border-radius: 5px;
    height: 55px;
    margin-top: 0;
}
.btn-cancelar:hover{
    box-shadow: 0 2px 4px;
    background-color: rgb(255, 0, 0);
}

.btn-continuar{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding: 10px 15px;
    margin-left: 10px;
    background-color: rgb(53, 174, 255);
    border: 0;
    border-radius: 5px;
    height: 55px;
}
.btn-continuar:hover {
    box-shadow: 0 2px 4px;
    background-color: rgb(0, 144, 240);
}
.botones-ventana{
    display: flex;
}
.ventana-emergente2{
    display: flex;
    background-color: rgb( rgb(143, 143, 143)) ;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0 ;
    height: 100vh;
    width: 100vw;
 }
 .ver2 {
    pointer-events: auto;
    opacity: 1;
 }
.ventana-texto2{
   background-color: rgb(175, 175, 175);
   width: 1000px;
   height: 550px;
   max-width: 100%;
   padding: 50px 180px;
   border-radius: 10px;
   box-shadow: 0 4px 10px;
}
.titulo-texto2{
   display: flex;
   justify-content: center;
   text-align: center;
   margin: 0;
   color: rgb(0, 0, 0);
   padding-bottom: 50px;
   padding-top: 0px;
   font-size: 100px;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.contenido-texto2{
   margin: 0;
   font-size: 35px;
   text-align: left;
   color: rgb(54, 54, 54);
   padding-bottom: 40px;
}
.Formulario {
    background-color: rgb(206, 206, 206);
    width: 700px;
    height: 900px;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Formulario h2 {
    font-size: 45px;
    margin-bottom: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.texto-form {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px;
}
.Formulario p{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    height: 40px;
}
.Formulario a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 40px;
}
.Formulario a:hover{
    text-decoration: underline;
}
.btn-form{
    width: 100%;
    background-color: rgb(175, 175, 175);
    border: none;
    font-size: 35px;
    border-radius: 4px;
    box-shadow: 0 2px 4px;
    margin: 40px 0px;
    padding: 22px;
}
.btn-form:hover{
    background-color: rgb(160, 160, 160);
}
.texto-form-duda {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 0px 10px 150px 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px;
}